@charset "UTF-8";

main {
    margin: 20px auto;
    border-radius: 20px;
    width: 80%;   
    max-width: 800px;   
}

img {
    margin: 40px;
    margin-bottom: 0px;
    width: calc(100% - 80px);
    border-radius: 10px;
}