@charset "UTF-8";

@font-face {
    font-family: 'Young Serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

:root {
    --stone1: hsl(30, 54%, 90%);
    --stone2: hsl(30, 18%, 87%);
    --stone3: hsl(30, 10%, 34%);
    --stone4: hsl(24, 5%, 18%);
    --brown: hsl(14, 45%, 36%);
    --rose1: hsl(332, 51%, 32%);
    --rose2: hsl(330, 100%, 98%);

    --font-title: 'Young Serif';
    --font-paragraph: 'Outfit';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--stone1);
    height: 100vh;
    font-family: var(--font-paragraph);
}

article {
    background-color: white;
}

section {
    padding: 10px 40px;
}

img {
    width: 100%;
}

h1, h2 {
    font-family: var(--font-title);
    margin-bottom: 5px;
}

h1 {
    font-size: 1.5rem;
}